{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{% assign block_count = 0 %}
{% for block in section.blocks %}
  {% assign block_count = forloop.index %}
{% endfor %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .negative #swiper-positive-{{ section.id }} {
    display: none;
  }

  #swiper-negative-{{ section.id }} {
    display: none
  }

  .negative #swiper-negative-{{ section.id }} {
    display: block;
  }

  .swiper-{{ section.id }} {
    overflow: hidden;
    width: 100%;
  }

  .swiper-{{ section.id }}
  .swiper-slide-next .scan-info-block
  , .swiper-{{ section.id }}
  .swiper-slide-prev .scan-info-block {
    display: none
  }

  .pswp img {
    max-width: none;
    object-fit: contain;
    cursor: pointer !important;
  }

  .image-container-{{ section.id }} {
    width: 100%;
    height: 100%;
    max-width: 65vw;
    /* aspect-ratio: 1.5; */
  }

  .image-container-{{ section.id }}
  img {
    object-fit: contain;
  }


  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .sample-height {
      max-height: {{ section.settings.content_height }}px
    }

    .swiper-{{ section.id }} {
      height: 100%
    }
  }
{%- endstyle -%}


<section style="padding-left: 0; padding-right: 0" class="isolate tw-overflow-hidden section-{{ section.id }} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div style="padding-bottom: {{section.settings.padding_top}}px" class="tw-mx-auto  rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
    <div class="rich-text__blocks {{ section.settings.content_alignment }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2
              class="rich-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
              {% endif %}>
              {{ block.settings.heading }}
            </h2>
          {%- when 'caption' -%}
            <p
              class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
              {% endif %}>
              {{ block.settings.caption | escape }}
            </p>
          {%- when 'text' -%}
            <div
              class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
              {% endif %}>
              {{ block.settings.text }}
            </div>
          {%- when 'button' -%}
            <div
              class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
              {% endif %}>
              {%- if block.settings.button_label != blank -%}
                <a
                  {% if block.settings.button_link == blank %}
                  role="link"
                  aria-disabled="true"
                  {% else %}
                  href="{{ block.settings.button_link }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">
                  {{- block.settings.button_label | escape -}}
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a
                  {% if block.settings.button_link_2 == blank %}
                  role="link"
                  aria-disabled="true"
                  {% else %}
                  href="{{ block.settings.button_link_2 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">
                  {{- block.settings.button_label_2 | escape -}}
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
      <div class="tw-w-full tw-flex tw-justify-center">
        {% render 'tc-toggle-switch'
          , id: 'negative_mode'
          , text: 'View in negative mode'
          , size: "16px" %}
      </div>
    </div>
  </div>
  <div class="image-container-{{ section.id }} tw-mx-auto tw-relative" {{ block.shopify_attributes }}>
    <div id="swiper-positive-{{section.id}}" class="swiper swiper-{{section.id}}">
      <ul class="swiper-wrapper swiper-wrapper-{{section.id}}">
        {% for block in section.blocks %}
          {% if block.type == "scan_image" %}
            <a
              class="swiper-slide swiper-slide-{{ section.id }} swiper-slide-{{ block.id }} tw-relative"
              href="{{ block.settings.sample_scan_positive | image_url: width: 3840 }}"
              data-pswp-width="3000"
              data-pswp-height="2000"
              data-cropped="true"
              target="_blank">
              {% unless block.settings.camera == blank and block.settings.lens == blank and block.settings.light_source == blank and block.settings.converted_with == blank and block.settings.film_stock == blank %}
                <div class="scan-info-block tw-opacity-100 hover:tw-opacity-0 tw-transition-opacity tw-duration-300 tw-z-10 tw-hidden tw-text-white md:tw-flex tw-flex-col tw-gap-2 tw-absolute tw-left-4 tw-top-4 tw-bg-black/40 tw-backdrop-blur-md tw-p-6">
                  {% if block.settings.camera != blank %}
                    <div class="tw-flex tw-flex-col tw-gap-1">
                      <span class="tw-uppercase tw-text-xs tw-font-bold">Scanning camera</span>
                      <span>{{ block.settings.camera }}</span>
                    </div>
                  {% endif %}
                  {% if block.settings.lens != blank %}
                    <div class="tw-flex tw-flex-col tw-gap-1">
                      <span class="tw-uppercase tw-text-xs tw-font-bold">Scanning lens</span>
                      <span>{{ block.settings.lens }}</span>
                    </div>
                  {% endif %}
                  {% if block.settings.light_source != blank %}
                    <div class="tw-flex tw-flex-col tw-gap-1">
                      <span class="tw-uppercase tw-text-xs tw-font-bold">Light source</span>
                      <span>{{ block.settings.light_source }}</span>
                    </div>
                  {% endif %}
                  {% if block.settings.converted_with != blank %}
                    <div class="tw-flex tw-flex-col tw-gap-1">
                      <span class="tw-uppercase tw-text-xs tw-font-bold">Converted with</span>
                      <span>{{ block.settings.converted_with }}</span>
                    </div>
                  {% endif %}
                  {% if block.settings.film_stock != blank %}
                    <div class="tw-flex tw-flex-col tw-gap-1">
                      <span class="tw-uppercase tw-text-xs tw-font-bold">Film stock</span>
                      <span>{{ block.settings.film_stock }}</span>
                    </div>
                  {% endif %}

                </div>
              {% endunless %}
              <img
                srcset="{{ block.settings.sample_scan_positive | image_url: width: 1400 }} 1x, {{ block.settings.sample_scan_positive | image_url: width: 3840 }} 4x"
                sizes="1400px, 3840px"
                class="positive-{{block.id}}  tw-origin-center tw-object-cover tw-w-full tw-h-full" />
              <img
                srcset="{{ block.settings.sample_scan_negative | image_url: width: 1400 }} 1x, {{ block.settings.sample_scan_negative | image_url: width: 3840 }} 4x"
                sizes="1400px, 3840px"
                class="negative-{{block.id}} hidden  tw-origin-center tw-object-cover tw-w-full tw-h-full" />
              <div class="md:tw-hidden tw-p-6 tw-pb-0">
                {% unless block.settings.camera == blank and block.settings.lens == blank and block.settings.light_source == blank and block.settings.converted_with == blank and block.settings.film_stock == blank %}
                  <div class="tw-z-10 tw-grid tw-grid-cols-2 tw-gap-x-2 tw-gap-y-4">
                    {% if block.settings.camera != blank %}
                      <div class="tw-flex tw-flex-col tw-gap-1">
                        <span class="tw-uppercase tw-text-xs tw-font-bold">Scanning camera</span>
                        <span>{{ block.settings.camera }}</span>
                      </div>
                    {% endif %}
                    {% if block.settings.lens != blank %}
                      <div class="tw-flex tw-flex-col tw-gap-1">
                        <span class="tw-uppercase tw-text-xs tw-font-bold">Scanning lens</span>
                        <span>{{ block.settings.lens }}</span>
                      </div>
                    {% endif %}
                    {% if block.settings.light_source != blank %}
                      <div class="tw-flex tw-flex-col tw-gap-1">
                        <span class="tw-uppercase tw-text-xs tw-font-bold">Light source</span>
                        <span>{{ block.settings.light_source }}</span>
                      </div>
                    {% endif %}
                    {% if block.settings.converted_with != blank %}
                      <div class="tw-flex tw-flex-col tw-gap-1">
                        <span class="tw-uppercase tw-text-xs tw-font-bold">Converted with</span>
                        <span>{{ block.settings.converted_with }}</span>
                      </div>
                    {% endif %}
                    {% if block.settings.film_stock != blank %}
                      <div class="tw-flex tw-flex-col tw-gap-1">
                        <span class="tw-uppercase tw-text-xs tw-font-bold">Film stock</span>
                        <span>{{ block.settings.film_stock }}</span>
                      </div>
                    {% endif %}

                  </div>
                {% endunless %}
              </div>
            </a>
          {%- endif -%}

        {%- endfor -%}
      </ul>
    </div>
    <div id="swiper-negative-{{section.id}}" class="negative swiper swiper-{{section.id}}">
      <ul class="swiper-wrapper swiper-wrapper-{{section.id}}">
        {% for block in section.blocks %}
          {% if block.type == "scan_image" %}
            <a
              class="swiper-slide swiper-slide-{{ section.id }} swiper-slide-{{ block.id }} tw-relative"
              data-cropped="true"
              data-pswp-width="3000"
              data-pswp-height="2000"
              href="{{ block.settings.sample_scan_negative | image_url: width: 3840 }}"
              target="_blank">
              {% unless block.settings.camera == blank and block.settings.lens == blank and block.settings.light_source == blank and block.settings.converted_with == blank and block.settings.film_stock == blank %}
                <div class="scan-info-block tw-opacity-100 hover:tw-opacity-0 tw-transition-opacity tw-duration-300 tw-z-10 tw-hidden tw-text-white md:tw-flex tw-flex-col tw-gap-2 tw-absolute tw-left-4 tw-top-4 tw-bg-black/40 tw-backdrop-blur-md tw-p-6">
                  {% if block.settings.camera != blank %}
                    <div class="tw-flex tw-flex-col tw-gap-1">
                      <span class="tw-uppercase tw-text-xs tw-font-bold">Camera</span>
                      <span>{{ block.settings.camera }}</span>
                    </div>
                  {% endif %}
                  {% if block.settings.lens != blank %}
                    <div class="tw-flex tw-flex-col tw-gap-1">
                      <span class="tw-uppercase tw-text-xs tw-font-bold">Lens</span>
                      <span>{{ block.settings.lens }}</span>
                    </div>
                  {% endif %}
                  {% if block.settings.light_source != blank %}
                    <div class="tw-flex tw-flex-col tw-gap-1">
                      <span class="tw-uppercase tw-text-xs tw-font-bold">Light source</span>
                      <span>{{ block.settings.light_source }}</span>
                    </div>
                  {% endif %}
                  {% if block.settings.converted_with != blank %}
                    <div class="tw-flex tw-flex-col tw-gap-1">
                      <span class="tw-uppercase tw-text-xs tw-font-bold">Converted with</span>
                      <span>{{ block.settings.converted_with }}</span>
                    </div>
                  {% endif %}
                  {% if block.settings.film_stock != blank %}
                    <div class="tw-flex tw-flex-col tw-gap-1">
                      <span class="tw-uppercase tw-text-xs tw-font-bold">Film stock</span>
                      <span>{{ block.settings.film_stock }}</span>
                    </div>
                  {% endif %}

                </div>
              {% endunless %}
              <img
                srcset="{{ block.settings.sample_scan_negative | image_url: width: 1400 }} 1x, {{ block.settings.sample_scan_negative | image_url: width: 3840 }} 4x"
                sizes="1400px, 3840px"
                class="negative-{{block.id}} tw-origin-center tw-object-cover tw-w-full tw-h-full" />
              <div class="md:tw-hidden tw-p-6 tw-pb-0">
                {% unless block.settings.camera == blank and block.settings.lens == blank and block.settings.light_source == blank and block.settings.converted_with == blank and block.settings.film_stock == blank %}
                  <div class="tw-z-10 tw-grid tw-grid-cols-2 tw-gap-x-2 tw-gap-y-4">
                    {% if block.settings.camera != blank %}
                      <div class="tw-flex tw-flex-col tw-gap-1">
                        <span class="tw-uppercase tw-text-xs tw-font-bold">Camera</span>
                        <span>{{ block.settings.camera }}</span>
                      </div>
                    {% endif %}
                    {% if block.settings.lens != blank %}
                      <div class="tw-flex tw-flex-col tw-gap-1">
                        <span class="tw-uppercase tw-text-xs tw-font-bold">Lens</span>
                        <span>{{ block.settings.lens }}</span>
                      </div>
                    {% endif %}
                    {% if block.settings.light_source != blank %}
                      <div class="tw-flex tw-flex-col tw-gap-1">
                        <span class="tw-uppercase tw-text-xs tw-font-bold">Light source</span>
                        <span>{{ block.settings.light_source }}</span>
                      </div>
                    {% endif %}
                    {% if block.settings.converted_with != blank %}
                      <div class="tw-flex tw-flex-col tw-gap-1">
                        <span class="tw-uppercase tw-text-xs tw-font-bold">Converted with</span>
                        <span>{{ block.settings.converted_with }}</span>
                      </div>
                    {% endif %}
                    {% if block.settings.film_stock != blank %}
                      <div class="tw-flex tw-flex-col tw-gap-1">
                        <span class="tw-uppercase tw-text-xs tw-font-bold">Film stock</span>
                        <span>{{ block.settings.film_stock }}</span>
                      </div>
                    {% endif %}

                  </div>
                {% endunless %}
              </div>
            </a>
          {%- endif -%}

        {%- endfor -%}
      </ul>
    </div>
    <button
      id="prev-slide"
      class="disabled:md:tw-hidden tw-hidden md:tw-grid tw-place-items-center tw-absolute tw-top-1/2 -tw-left-8 -tw-translate-x-full tw-size-16 tw-bg-neutral-200 tw-text-black tw-rounded-full"
      aria-label="previous">
      {{ 'lucide-chevron-left.svg' | inline_asset_content }}
    </button>
    <button
      id="next-slide"
      class="disabled:md:tw-hidden tw-hidden md:tw-grid tw-place-items-center tw-absolute tw-top-1/2 -tw-right-8 tw-translate-x-full tw-size-16 tw-bg-neutral-200 tw-text-black tw-rounded-full"
      aria-label="next">
      {{ 'lucide-chevron-right.svg' | inline_asset_content }}
    </button>

  </div>
</section>

<script type="module">
  import ObjectPosition from '{{ "photoswipe-object-position.js" | asset_url }}';
  console.log(ObjectPosition);
  document.addEventListener("DOMContentLoaded", () => {
  const swiperOptions = {
    slidesPerView: 1,
    spaceBetween: 128,
    loop: true,
    autoplay: true,
    delay: 3000,
    navigation: {
      nextEl: "#next-slide",
      prevEl: "#prev-slide",
    },
    keyboard: {
      enabled: true,
      onlyInViewport: true,
      lazyPreloadPrevNext: 5,
    },
  };

  const swiperNegative = new Swiper("#swiper-negative-{{section.id}}", swiperOptions);
  const swiperPositive = new Swiper("#swiper-positive-{{section.id}}", swiperOptions);

  const createPhotoSwipeLightbox = (gallerySelector, swiperInstance) => {
    const photoSwipeOptions = {
      gallery: gallerySelector,
      pswpModule: PhotoSwipe,
      children: 'a',
      loop: true,
      showHideAnimationType: 'fade',
      mouseMovePan: true,
      initialZoomLevel: 'fit',
      secondaryZoomLevel: 1.5,
      maxZoomLevel: 2,
      wheelToZoom: true, 
    };

    const lightbox = new PhotoSwipeLightbox(photoSwipeOptions);
    new ObjectPosition(lightbox);
    lightbox.addFilter('useContentPlaceholder',
                   (useContentPlaceholder, content) => { return false; });

    lightbox.init();

    lightbox.on('change', () => {
      const { pswp } = lightbox;
      swiperInstance.slideTo(pswp.currIndex, 0, false);
      console.log('Slide index', pswp.currIndex);
    });

    lightbox.on('afterInit', () => {
      if (swiperInstance.params.autoplay && swiperInstance.params.autoplay.enabled) {
        swiperInstance.autoplay.stop();
      }
    });

    lightbox.on('closingAnimationStart', () => {
      const { pswp } = lightbox;
      swiperInstance.slideTo(pswp.currIndex, 0, false);
      if (swiperInstance.params.autoplay && swiperInstance.params.autoplay.enabled) {
        swiperInstance.autoplay.start();
      }
    });

    return lightbox;
  };

  const lightboxPositive = createPhotoSwipeLightbox('#swiper-positive-{{section.id}}', swiperPositive);
  const lightboxNegative = createPhotoSwipeLightbox('#swiper-negative-{{section.id}}', swiperNegative);
  });
</script>


<script>
  const toggle = document.querySelector("#negative_mode");
      const section = document.querySelector(".section-{{section.id}}")
  
      toggle.addEventListener("change", (e) => {
    section.classList.toggle("negative");

    if (e.target.checked) {
      section.classList.remove("color-{{ section.settings.color_scheme }}")
      section.classList.add("color-{{ section.settings.color_scheme_dark }}")
    } else {
      section.classList.add("color-{{ section.settings.color_scheme }}")
      section.classList.remove("color-{{ section.settings.color_scheme_dark }}")

    }
  });
</script>


{% schema %}
  {
    "name": "Sample scans",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "select",
        "id": "content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
          },
          {
            "value": "right",
            "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
          }
        ],
        "default": "center",
        "label": "t:sections.rich-text.settings.content_alignment.label"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme_dark",
        "label": "Color scheme dark",
        "default": "scheme-4"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      },
      {
        "type": "range",
        "id": "content_height",
        "min": 0,
        "max": 1000,
        "step": 50,
        "unit": "px",
        "label": "Content height",
        "default": 400
      }
    ],
    "blocks": [
      {
        "type": "scan_image",
        "name": "Scan image",
        "limit": 5,
        "settings": [
          {
            "type": "image_picker",
            "id": "sample_scan_positive",
            "label": "Sample scan positive"
          },
          {
            "type": "image_picker",
            "id": "sample_scan_negative",
            "label": "Sample scan negative"
          },
          {
            "type": "text",
            "id": "camera",
            "label": "Camera"
          },
          {
            "type": "text",
            "id": "lens",
            "label": "Lens"
          },
          {
            "type": "text",
            "id": "light_source",
            "label": "Light source"
          },
          {
            "type": "text",
            "id": "converted_with",
            "label": "Converted with"
          },
          {
            "type": "text",
            "id": "film_stock",
            "label": "Film stock"
          },
          {
            "type": "url",
            "id": "raw_download_url",
            "label": "Raw download URL"
          }
        ]
      },
      {
        "type": "heading",
        "name": "t:sections.rich-text.blocks.heading.name",
        "limit": 3,
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Talk about your brand",
            "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              },
              {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              },
              {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              },
              {
                "value": "hxl",
                "label": "t:sections.all.heading_size.options__4.label"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          }
        ]
      },
      {
        "type": "caption",
        "name": "t:sections.rich-text.blocks.caption.name",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "caption",
            "default": "Add a tagline",
            "label": "t:sections.rich-text.blocks.caption.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "subtitle",
                "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
              },
              {
                "value": "caption-with-letter-spacing",
                "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
              }
            ],
            "default": "caption-with-letter-spacing",
            "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
          },
          {
            "type": "select",
            "id": "text_size",
            "options": [
              {
                "value": "small",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
              },
              {
                "value": "medium",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
              },
              {
                "value": "large",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
              }
            ],
            "default": "medium",
            "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.rich-text.blocks.text.name",
        "limit": 3,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
            "label": "t:sections.rich-text.blocks.text.settings.text.label"
          }
        ]
      },
      {
        "type": "button",
        "name": "t:sections.rich-text.blocks.buttons.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary",
            "default": false,
            "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
            "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
          },
          {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_2",
            "default": false,
            "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Sample scans",
        "settings": {}
      }
    ]
  }
{% endschema %}