{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .swiper-{{ section.id }} {
    overflow: visible;
    --swiper-navigation-size: 2rem
  }

  .cards-container-{{ section.id }} {
    display: grid;
    gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
  }

  .card-{{ section.id }} {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgb(var(--color-background)) linear-gradient(rgba(var(--color-foreground),0.04),rgba(var(--color-foreground),0.04));
    overflow: hidden;
    border-radius: {{section.settings.border_radius}}px;
  }

  .card-image-primary-{{ section.id }}
  , .card-image-secondary-{{ section.id }} {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute
  }

  .card-image-container-{{ section.id }} {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
    background: radial-gradient(rgba(255, 255, 255, 0.1), transparent 60%);
  }

  .card-info-container-{{ section.id }} {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 3rem;
    text-align: center
  }

  .swiper-button-next-{{section.id}}.swiper-button-disabled, .swiper-button-prev-{{section.id}}.swiper-button-disabled {
display: none  
}
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .cards-container-{{ section.id }} {
      grid-template-columns: repeat({{ section.settings.cards_per_row }}, 1fr);
    }

    .card-image-container-{{ section.id }} {
      aspect-ratio: 1;
    }

    .swiper-button-next-{{section.id}}, .swiper-button-prev-{{section.id}} {
      /* display: none!important */
    }

  .swiper-wrapper-{{ section.id }} {
    justify-content: {% if section.settings.center_slides %} center {% else %} inherit {% endif %}
  }



  }
{%- endstyle -%}


<section style="padding-left: 0; padding-right: 0" class="isolate tw-overflow-hidden section-{{ section.id }} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div style="padding-bottom: {{section.settings.padding_bottom}}px" class="tw-mx-auto  rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
    <div class="page-width rich-text__blocks {{ section.settings.content_alignment }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2
              class="rich-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
              {% endif %}>
              {{ block.settings.heading }}
            </h2>
          {%- when 'caption' -%}
            <p
              class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
              {% endif %}>
              {{ block.settings.caption | escape }}
            </p>
          {%- when 'text' -%}
            <div
              class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
              {% endif %}>
              {{ block.settings.text }}
            </div>
          {%- when 'button' -%}
            <div
              class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
              {% endif %}>
              {%- if block.settings.button_label != blank -%}
                <a
                  {% if block.settings.button_link == blank %}
                  role="link"
                  aria-disabled="true"
                  {% else %}
                  href="{{ block.settings.button_link }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">
                  {{- block.settings.button_label | escape -}}
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a
                  {% if block.settings.button_link_2 == blank %}
                  role="link"
                  aria-disabled="true"
                  {% else %}
                  href="{{ block.settings.button_link_2 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">
                  {{- block.settings.button_label_2 | escape -}}
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>

  <div class="page-width tw-relative">
    {% comment %} <div id="right-mask-{{section.id}}" class="tw-absolute md:tw-hidden tw-top-0 tw-right-0 tw-h-full tw-w-24 tw-z-50 color-{{ section.settings.color_scheme }} tc-fade-to-left"></div>
  <div id="left-mask-{{section.id}}" class="tw-absolute md:tw-hidden hidden tw-top-0 tw-left-0 tw-h-full tw-w-24 tw-z-50 color-{{ section.settings.color_scheme }} tc-fade-to-right"></div> {% endcomment %}
    <div
      id="swiper-{{section.id}}"
      init="false"
      class="swiper swiper-{{ section.id }} tw-w-full md:tw-h-full">
      <ul class="swiper-wrapper swiper-wrapper-{{ section.id }}">
        {% for block in section.blocks %}
          {% if block.type == 'card' %}
            <li class="swiper-slide swiper-slide-{{block-id}} swiper-slide-{{ section.id }}">
              <div
                class="card-{{ section.id }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} tw-group tw-cursor-grab tw-relative"
                {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
                {% endif %}
                {{ block.shopify_attributes }}>
                {% unless block.settings.badge == blank %} 
                  <div style="color: {{block.settings.badge_color}}; border-color: {{block.settings.badge_color}}" class="tw-absolute tw-left-6 tw-top-6 tw-px-6 tw-py-3 tw-text-lg tw-rounded tw-font-bold tw-border">{{block.settings.badge}}</div>
                {% endunless %}
              {%if block.settings.product != blank%}<a href="{{ shop.url }}{{ block.settings.product.url }}" class="card-image-container-{{ section.id }} tw-cursor-grab">{% else %}<div class="card-image-container-{{ section.id }}">{% endif %}
                  {% unless  block.settings.image_primary == blank %} 
                    <img
                    style="transform: ({% if block.settings.image_primary_offset_x_flip %}-{% endif %}{{block.settings.image_primary_offset_x}}%;  {% if block.settings.image_primary_offset_y_flip %}-{% endif %}{{block.settings.image_primary_offset_y}}%)"
                    srcset="{{ block.settings.image_primary | image_url: width: 350 }} 1x, {{ block.settings.image_primary | image_url: width: 700 }} 2x"
                    sizes="300px, 600px"
                    class="card-image-primary-{{section.id}} md:group-hover:tw-scale-110 tw-transition-all tw-duration-300 tw-ease-in-out tw-select-none" />
                  {% endunless %}
                    {% unless block.settings.image_secondary == blank %}
                    <img
                      style="transform: ({% if block.settings.image_secondary_offset_x_flip %}-{% endif %}{{block.settings.image_secondary_offset_x}}%;  {% if block.settings.image_primary_offset_y_flip %}-{% endif %}{{block.settings.image_primary_offset_y}}%)"
                      srcset="{{ block.settings.image_secondary | image_url: width: 350 }} 1x, {{ block.settings.image_secondary | image_url: width: 700 }} 2x"
                      sizes="300px, 600px"
                      class="card-image-secondary-{{section.id}} md:group-hover:tw-opacity-100 tw-opacity-0 md:group-hover:tw-scale-110 tw-transition-all tw-duration-300 tw-ease-in-out tw-select-none" />
                  {% endunless %}
              {%if block.settings.product != blank%}</a>{% else %}</div>{% endif %}
                <div class="card-info-container-{{ section.id }}">
                  <h4 class="h3">
                    {% if block.settings.title == blank %}
                      {{ block.settings.product.title }}
                    {% else %}
                      {{ block.settings.title }}{% endif %}
                  </h4>
                  {% unless block.settings.product == blank %}
                    <span class="tw-mb-4">
                      {{ block.settings.product.price | money }}
                    </span>
                  {% endunless %}
  
                  {% unless block.settings.description == blank %}
                    {% assign description_lines = block.settings.description | split: "|" %}
                    {% if description_lines.size > 1 %}
                      <ul class="tw-flex tw-flex-col tw-gap-2">
                      {% for line in description_lines %}
                        <li class="tw-flex tw-gap-2 tw-items-center">
                          {{ 'lucide-circle-check-big.svg' | inline_asset_content }}
                          {{ line }}
                        </li>
                      {% endfor %}
                      </ul>
                      {%else %}
                      <p>{{ block.settings.description }}</p>
                    {% endif %}
                  {% endunless %}
                  {% unless block.settings.product == blank %}
                      {% assign product_form_id = block.id %}
                    <product-form data-section-id="{{ section.id }}">
                      {%- form 'product'
                        , block.settings.product
                        , id: product_form_id
                        , class: 'form'
                        , novalidate: 'novalidate'
                        , data-type: 'add-to-cart-form'
                      -%}
                        <input
                          type="hidden"
                          name="id"
                          value="{{ block.settings.product.selected_or_first_available_variant.id }}"
                          class="product-variant-id"
                          {% if block.settings.product.selected_or_first_available_variant.available == false %}
                          disabled
                          {% endif %}>
                        <button
                          id="{{ product_form_id }}-submit"
                          type="submit"
                          name="add"
                          class="quick-add__submit button button--full-width"
                          aria-haspopup="dialog"
                          aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ block.settings.product.id }}"
                          aria-live="polite"
                          data-sold-out-message="true"
                          {% if block.settings.product.selected_or_first_available_variant.available == false %}
                          disabled
                          {% endif %}>
                          <span>
                            {%- if block.settings.product.selected_or_first_available_variant.available -%}
                              {{ 'products.product.add_to_cart' | t }}
                            {%- else -%}
                              {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                          </span>
                          {%- render 'loading-spinner' -%}
                        </button>
                      {%- endform -%}
                    </product-form>
                  {% endunless %}
  
                </div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="swiper-button-next swiper-button-next-{{section.id}}"></div>
      <div class="swiper-button-prev swiper-button-prev-{{section.id}}"></div>
      <div class="swiper-pagination-{{section.id}}"></div>
    </div>
  </div>
</section>

<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const swiper = new Swiper(".swiper-{{section.id}}", {      slidesPerView: 1,
    spaceBetween: 16,
      navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true
      },
      breakpoints: {
        320: {
          slidesPerView: 1,
        },
        480: {
          slidesPerView: 2,
        },
        960: {
          slidesPerView: 4,
        }
      }
    });

    const prevSlide = document.querySelector("#{{}}")

    // const leftMask = document.querySelector('#left-mask-{{section.id}}');

    // // Listen to swiper progress event
    // swiper.on('progress', (progress) => {
    //   if (progress !== 0) {
    //     leftMask.classList.remove("hidden");
    //   } else {
    //     leftMask.classList.add("hidden");
    //   }
    // });

    // // Listen to swiper slide change event
    // swiper.on('slideChange', () => {
    //   console.log('slide changed');
    // });
  });
</script>



{% schema %}
  {
    "name": "Product/image cards",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "select",
        "id": "content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
          },
          {
            "value": "right",
            "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
          }
        ],
        "default": "center",
        "label": "t:sections.rich-text.settings.content_alignment.label"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      },
      {
        "type": "range",
        "id": "cards_per_row",
        "min": 0,
        "max": 6,
        "step": 1,
        "label": "Cards per row",
        "default": 3
      },
      {
        "type": "range",
        "id": "border_radius",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Tile border radius"
      },
      {
        "type": "checkbox",
        "id": "center_slides",
        "default": true,
        "label": "Center slides"
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "card",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "text",
            "id": "badge",
            "label": "Badge"
          },
          {
            "type": "color",
            "id": "badge_color",
            "label": "Badge color"
          },
          {
            "type": "image_picker",
            "id": "image_primary",
            "label": "Image (primary)"
          },
          {
            "type": "range",
            "id": "image_primary_offset_x",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "X offset",
            "default": 0
          },
          {
            "type": "range",
            "id": "image_primary_offset_y",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Y offset",
            "default": 0
          },
          {
            "type": "checkbox",
            "id": "image_primary_offset_x_flip",
            "label": "X offset flip",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "image_primary_offset_y_flip",
            "label": "Y offset flip",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "image_secondary",
            "label": "Image (secondary)"
          },
          {
            "type": "range",
            "id": "image_secondary_offset_x",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "X offset",
            "default": 0
          },
          {
            "type": "range",
            "id": "image_secondary_offset_y",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Y offset",
            "default": 0
          },
          {
            "type": "checkbox",
            "id": "image_secondary_offset_x_flip",
            "label": "X offset flip",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "image_secondary_offset_y_flip",
            "label": "Y offset flip",
            "default": false
          }
        ]
      },
      {
        "type": "heading",
        "name": "t:sections.rich-text.blocks.heading.name",
        "limit": 3,
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Talk about your brand",
            "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              },
              {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              },
              {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              },
              {
                "value": "hxl",
                "label": "t:sections.all.heading_size.options__4.label"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          }
        ]
      },
      {
        "type": "caption",
        "name": "t:sections.rich-text.blocks.caption.name",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "caption",
            "default": "Add a tagline",
            "label": "t:sections.rich-text.blocks.caption.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "subtitle",
                "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
              },
              {
                "value": "caption-with-letter-spacing",
                "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
              }
            ],
            "default": "caption-with-letter-spacing",
            "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
          },
          {
            "type": "select",
            "id": "text_size",
            "options": [
              {
                "value": "small",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
              },
              {
                "value": "medium",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
              },
              {
                "value": "large",
                "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
              }
            ],
            "default": "medium",
            "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.rich-text.blocks.text.name",
        "limit": 3,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
            "label": "t:sections.rich-text.blocks.text.settings.text.label"
          }
        ]
      },
      {
        "type": "button",
        "name": "t:sections.rich-text.blocks.buttons.name",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary",
            "default": false,
            "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
            "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
          },
          {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_2",
            "default": false,
            "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product/image cards",
        "settings": {}
      }
    ]
  }
{% endschema %}